<header>
 <app-navbar></app-navbar>
  </header>
 <section>
<h1>L'Histoire</h1>
   <h2>Novembre 1786</h2>
   <div class="content">
    <div class="content_text">
      <p>
        Tout commence avec la célèbre exposition universelle de 1855 qui comprenait son volet agricole et présentait au public des plantes, des machines et des techniques agricoles. 
        Le 1er concours général agricole est créé en mars 1870 et il va hériter des comices agricoles issus du 18 siècle et notamment du Concours « des animaux gras » ou « animaux de boucherie ». 
        Le Concours général agricole est, lui, officiellement lancé à Paris en 1870, au Palais de l’Industrie, sur les Champs Élysées. C’est la première fois alors que sont réunis, dans le centre de Paris, des animaux de boucherie, des volailles et des produits laitiers, des produits agricoles divers ainsi que des machines agricoles. 
        C’est l’ancêtre du Salon de l’Agriculture tel que nous le connaissons aujourd’hui.
     </p>
     <p>
        Le premier « vrai » Salon de l’Agriculture ouvre ses portes en mars 1964 et d’emblée, il va séduire plus de 300 000 visiteurs. 
        En 1975, le salon compte 500 000 visiteurs déjà et ce ne sera alors que les prémices du salon préféré des Français avec celui de l’automobile et de l’aviation. 
        Le schisme, en 1991, du Salon de l’Agriculture et du Salon International du Machinisme Agricole (SIMA) n’affectera pas les fréquentations du Salon qui ne cessent d’exploser année après année.
    </p>
    </div>
    <img src="/assets/edgard-pisani-au-salon-de-lagriculture-826x459.jpeg">
   </div>
 </section>
 <section>

  <h2>L'évolution</h2>
  <div class="content content--reverse">
    <div class="content_text">
      <p>
        Éleveurs, producteurs, régions, organisations et syndicats professionnels, ministères et organismes publics ou instituts de recherche : ils sont tous au rendez-vous ! Le Salon de l’Agriculture les accueille et les met à l’honneur et ils sont nombreux ! 
        L’agriculture en France c’est 51 % de surface agricole utile sur le territoire national, 480000 exploitations agricoles (près de 26 5003 engagées en “bio” soit 5,4 % des exploitations françaises et plus de 7 % des emplois).
        C’est aussi 952000 actifs permanents (3,6 % de la population active) dont 163000 salariés.
      </p>
      <p>
        C’est aussi un secteur agroalimentaire plus large qui recrute malgré la conjoncture économique est morose et que le taux de chômage flirte avec les sommets : ce sont près de 12 000 entreprises et 10 000 emplois qui cherchent preneurs.
        L’agroalimentaire français transforme 70 % de la production agricole nationale. 
        En 2013, le secteur réalisait 160,5 milliards de chiffre d’affaires et employait 492 727 salariés. 
        Il a réalisé, par ailleurs, 8,5 milliards d’euros d’excédent commercial en 2013, ce qui le place dans le trio de tête des secteurs qui rapportent le plus à la balance commerciale française avec l’aéronautique et la chimie. 
        La France est le 5e exportateur mondial de produits alimentaires…
      </p>
    </div>
    <img src="/assets/cad.png">
  </div>
  </section>
  <section>
    <h2>Les salons</h2>
    <div class="content">
      <div class="content_text">
        <p>
          Le Salon de l'Agriculture est également connu pour ses animations et ses
          concours, qui mettent en avant les savoir-faire des agriculteurs et des
          éleveurs français. Les visiteurs peuvent y découvrir les produits de
          l'agriculture française, participer à des dégustations et assister à des
          spectacles mettant en scène des animaux.
        </p>
        <p>
          Pour la cinquième année consécutive, les Editions France Agricole profitent d’INNOV-AGRI pour proposer le Village Agroécologique : un arrêt unique pour se former aux techniques alternatives innovantes avec les meilleurs spécialistes du secteur.
          6 810 mètres carrés d’exposition, 2 hectares de démonstrations, 40 intervenants, 31 ateliers techniques, plus de 30 démonstrations, 14 conférences… Cette année plus que jamais, le Village Agroécologique des Editions France Agricole propose la plus grande rencontre technique dédiée à l’agroécologie en France.
        </p>
      </div>
      <img src="/assets/dab.jpeg">
    </div>
  </section>  
  <section>
    <h2>De nos jours</h2>
    <div class="content content--reverse">
      <div class="content_text">
        <p>
          Aujourd'hui, le Salon de l'Agriculture est un événement majeur qui attire
          chaque année des centaines de milliers de visiteurs. Il contribue à
          renforcer le lien entre les agriculteurs et le grand public, et à faire
          connaître la richesse et la diversité de l'agriculture française.
        </p>
        <p>
        Le Salon international de l'agriculture accueille, chaque année, le concours général agricole, outil de promotion de la richesse, de la qualité des produits et transformations issus de l'artisanat et de l'industrie agroalimentaires et de l'agriculture.
        </p>
        <p>
  
  L'objectif essentiel d'un développement agricole et rural durable est d'assurer un accroissement soutenu de la production alimentaire et d'améliorer la sécurité alimentaire.
        </p>
      </div>
      <img src="/assets/a.png">
    </div>
</section>