<div class="form-group">
    <header>
      <app-navbar></app-navbar>
      </header>
      <script src="https://www.youtube.com/iframe_api"></script>
      <h1>Video du Salon 2023</h1>
        <section>
            <youtube-player [videoId]="videoId"
                        [height]="700" 
                        [width]="1000"> 

            </youtube-player>
            
        </section>      
        <section class="section_b">
          <h1>Exposant 2023</h1>
          <h2>Recherche nom des stands</h2>
          <form>
            <input type="text" [(ngModel)]="searchTerm" name="searchTerm" (ngModelChange)="search()">
          </form>           
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>nom</th>
                <th>site web</th>
                <th>Theme</th>
                <th>Emplacement</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredData">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.URL}}</td>
                <td>{{item.name2}}</td>
                <td>{{item.numero}}</td>
              </tr>
            </tbody>
          </table>
        </section>
        </div>