<div class="form-group">
    <header>
     <app-navbar></app-navbar>
      </header>
        <section>
          <h1>Salon de l'agriculture</h1>
          <p>Bienvenue sur le site du salon de l'agriculture, l'événement annuel incontournable pour tous les acteurs du monde agricole.</p>
          <p>L'Objectif du site est faire une revue du salon de l'agriculture mais surtout des stands Toulousains !</p>
          <img class="LOGO"src="/assets/salon_agriculture_banniere_2023.png">
        </section>
        <section>
            <h1>Promouvoir l'agriculture durable et l'innovation technologique</h1>
            <p>Pour rappel, le Salon de l'Agriculture de Paris est le rendez-vous incontournable de tous les acteurs du monde agricole. Du 25 février au 5 mars prochain, on va retrouver, comme chaque année, les concours des produits des vins et des animaux, supervisés par les copropriétaires de ce concours, le ministère de l’Agriculture et de l’Alimentation et le CENECA.</p>
            <p>La 59 ème édition du Salon International de l'Agriculture promet de mettre en avant le rôle essentiel des agriculteurs pour assurer la souveraineté alimentaire et nourrir la population. Le conflit entre la Russie et l'Ukraine a provoqué des répercussions sur les marchés de l'énergie et a entraîné des réductions d'exportations et des difficultés d'approvisionnement qui se sont immédiatement ressenties dans les pays importateurs. Les prix de l'énergie, des engrais et des céréales ont augmenté de 20 à 30%. La pandémie de COVID-19 a permis aux consommateurs français de reconnaître le métier d'agriculteur comme étant essentiel et leur a fait prendre conscience du rôle primordial des agriculteurs dans leur quotidien. Cette nouvelle édition du Salon International de l'Agriculture a pour but de présenter l'agriculture comme étant au service de la vie et du vivant et de l'alimentation. </p>
            <p>Le salon de l'agriculture se découvre ainsi autour de quatre univers :</p>
            <ul>
              <li>Élevage et ses filières</li>
              <li>Les cultures et filières végétales, Jardin et Potager</li>
              <li>Produits des Régions de France, d'Outre-Mer et du Monde</li>
              <li>Services et Métiers de l'Agriculture</li>
            </ul>
            <p>Le Salon International de l’Agriculture 2023 vous invite aussi à découvrir Agri'Expo, un espace aux multiples facettes qui propose des activités ludiques et interactives pour en apprendre plus sur la filière. Il vous permet aussi d'en apprendre plus sur la bioéconomie et l'économie circulaire, et de montrer comment les biotechnologies industrielles et les produits biosourcés peuvent contribuer à améliorer notre souveraineté alimentaire et notre indépendance en ressources, à rééquilibrer notre balance commerciale et à créer de la valeur ajoutée. Le gouvernement français a lancé un appel à projets pour soutenir le développement et l'industrialisation de produits biosourcés et de biotechnologies industrielles, et l'espace AGRI'EXPO en est la parfaite illustration.</p>
            <p>Le secteur agricole a connu une évolution rapide et profonde grâce à l'adoption de nouvelles technologies, de matériels embarqués et d’autres outils de suivi.
        </section>
        <div class="d1"></div>
        <div class="conteneur">
          <div class="d2"></div>
        </div>
</div>
        